<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <title>ThatsAShort.link</title>
  </head>
  <body style="text-align: center;">
    <div style="margin-top: 1in">
      <h1>ThatsAShort.link</h1>
    </div>

    <div class= "container card text-center" style="margin-top: 5%">
        <div class="card-header">
            Add / Remove a URL
          </div>
        <div class="card-body">
          <form class="form-inline" action="/shorten" method="Post" style="display: inline-block;">
            <div class="row">
              <div class="form-group mx-sm-3 mb-2 bmd-form-group">
                <input type="url" class="form-control" id="fullUrl" name="fullUrl" placeholder="Type in your URL">
              </div>

                <div class="form-group mx-sm-3 mb-2 bmd-form-group">
                  <input type="string" class="form-control" id="customShort" name="customShort" placeholder="Custom URL Code"><button type="submit" class="btn btn-primary mb-2">Shrink URL</button>
                </div>
              </div>
            </form>

              <hr>

              <form class="form-inline" action="/delete" method="Post" style="display: inline-block;">
                <div class="row"></div>
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" id="delete" name="delete" placeholder="Type in your URL Code">
                  <button type="submit" class="btn btn-primary mb-2">Delete URL Code</button>
                </div>

              </form>



          </div>
      </div>

      <div class="container card text-center" style="margin-top: 50px">
        <div class="card-header">
            List of shrunken URLs
          </div>
        <div class="card-body">
            <table class="table">
                <thread>
                    <tr>
                        <th>Full URL</th>
                        <th>URL Code</th>
                        <th>Clicks</th>
                        <th></th>
                    </tr>
                </thread>
                <tbody>
                    <% shortUrls.forEach(shortUrl => { %>
                        <tr>
                            <td><a href="<%= shortUrl.full  %>"><%= shortUrl.full  %></a></td>
                            <td><a href="<%= shortUrl.short  %>"><%= shortUrl.short  %></a></td>
                            <td><%= shortUrl.clicks  %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
      </div>

      <footer style="margin: 30px">
        Copyright <a href="https://jnsaph.website/">JNSAPH</a> | Version <%= package.version %> <br>
        <a href="https://www.github.com/JNSAPH">GitHub</a>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>